html,
body {
    overflow-x: hidden;
    max-width: 100%;
    background-image: url(assets/background.jpg);
}

.main-page {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    outline: 2px solid;
    width: 20%;
    height: max-content;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 51px;
    background-color: aliceblue;
}

.heading-section {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-align: center;
}

.have-an-account {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
}

input[type=text] {
    width: 75%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 51px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%
}

input[type=password] {
    width: 75%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 51px;
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus {
    width: 100%
}

a {
    text-decoration: none;
    color: #333;
}

.forgotpass {
    margin-top: 0.75rem;
    font-size: 12px;
}

.buttonClass {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 70px;
    height: 35px;
    border-width: 1px;
    color: #fff;
    border-radius: 18px;
    text-shadow: 0px 1px 0px #051881;
    background: linear-gradient(#002bdc, #32ded4);
}

.buttonClass:hover {
    background: linear-gradient(#32ded4, #002bdc);
}

.login {
    width: 50%;
}

footer {
    padding: 2% 0;
    background-color: rgb(222, 219, 219);
    margin: 2rem 0 0 0;
}

.footer-info {
    padding: 0 10%;
    font-size: 20px;
}

.footer-text-info {
    font-size: 0.75rem
}