html,
body {
  overflow-x: hidden;
  max-width: 100%;

}

.item-css {
  background-color: transparent;
}

.item-css:hover {
  background-color: #9f9d9d;
}

.carousel-image {
  width: 50%;
}
.med:hover{
  
  color: rgb(120, 96, 66);

}
.med{
  text-align: center;
  
  margin-left: 20px;
  padding-top: 20px;
}

mind{
  background-color: aliceblue;
}
.hac{
  background-image: url(images/background-main.jpeg); 
}
.lit{
  text-align: center;
}
.row{
  background-color: rgb(222, 219, 219);
}
.photo{
  margin-top: 40px;
  margin-left: 250px;
  margin-bottom: 40px;
  border-radius: 30px;
}